@model DavesGamesMVC.DatabaseAccess.ChainLetter.UserModel

<div class="container">

    <div id="banner">Virtual Chain Letter</div>

    @{
        string Payee()
        {
            if (Model.u5Name.Contains("$")) return Model.u5Name;
            else if (Model.u4Name.Contains("$")) return Model.u4Name;
            else if (Model.u3Name.Contains("$")) return Model.u3Name;
            else if (Model.u2Name.Contains("$")) return Model.u2Name;
            else return Model.u1Name;
        }
    }

    <div class="user">@Model.u5Name</div>
    <div class="user">@Model.u4Name</div>
    <div class="user">@Model.u3Name</div>
    <div class="user">@Model.u2Name</div>
    <div class="user">@Model.u1Name</div>
    <div class="user focused">@Model.UserName</div>

    <input type="text" id="UserNameInput" value="" />

    <br />

    <button onclick="addUser('@Model.UserName');">ADD</button>

    <p style="border:2px dashed blue; color:blue;">
        This is a virtual chain letter designed for
        users of the Cash App.
    </p>

    <p>
        To play, just add your $cashtag to the bottom of the
        list.  It's Free!
    </p>

    <p>
        If you are <b>@Model.UserName</b>, then this
        list belongs to you.
    </p>

    <p>
        Just share your list with as many other Cash App
        users as you can.
    </p>

    <p>
        Each new generation of users will push your
        $cashtag towards the top of the list.
    </p>

    <p>
        This could mean that thousands of Cash App
        users will see your $cashtag.
    </p>

    <p>
        What if some of them sent <b>@Model.UserName</b> a $10 gift?
    </p>

    @{ if (Payee().Contains("$"))
        {
            <p style="border: 2px dashed blue; color: blue;">
                Wouldn't it be cool if <b>@Model.UserName </b>sent $10 to <b>@Payee()</b>?;
            </p>
        }
    }

</div>