@model DavesGamesMVC.DatabaseAccess.ChainLetter.UserModel

<div class="container">

    <div id="banner">Virtual Chain Letter</div>

    @{
        string IsDashes(string name)
        {
            return name == "---" ? "" : string.Format("https://paypal.me/{0}/10", name);
        }
    }

    <div class="user">@Model.u5Name</div>
    <div class="user">@Model.u4Name</div>
    <div class="user">@Model.u3Name</div>
    <div class="user">@Model.u2Name</div>
    <div class="user">@Model.u1Name</div>
    <div class="user">@Model.UserName</div>

    <input type="text" id="UserNameInput" value="" />

    <br />

    <button onclick="addUser('@Model.UserName');">ADD</button>

    <p style="border:2px dashed blue; color:blue;">
        This is a virtual chain letter designed for
        users of the Cash App.
    </p>

    <p>
        To play, just add your $cashtag to the bottom of the
        list.  It's Free!
    </p>

    <p>
        With your $cashtag in the bottom position, just share
        this page with as many Cash App users as possible.
    </p>

    <p>
        Each new generation of players will push your
        $cashtag towards the top of the list.
    </p>

    <p>
        This process means your $cashtag may be
        seen by serveral thousand Cash App users!
    </p>

    <p style="border:2px dashed red; color:red;">
        Wouldn't it be cool if everyone sent
        $10 to the person at the top of their list?
    </p>

</div>